.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: linear-gradient(to left bottom, #1f3b65, #75517c, #b66f81, #de9c83, #edd297);
}
